In [1]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied: pandas>=0.24 in c:\users\91917\anaconda3\lib\site-packages (from yfinance) (0.24.2)
Requirement already satisfied: numpy>=1.15 in c:\users\91917\anaconda3\lib\site-packages (from yfinance) (1.16.4)
Requirement already satisfied: requests>=2.20 in c:\users\91917\anaconda3\lib\site-packages (from yfinance) (2.22.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Requirement already satisfied: pytz>=2011k in c:\users\91917\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\91917\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\91917\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\91917\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91917\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.6.16)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\91917\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\91917\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Stored in directory: C:\Users\91917\AppData\Local\pip\Cache\wheels\f9\e3\5b\ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Stored in directory: C:\Users\91917\AppData\Local\pip\Cache\wheels\37\fa\73\d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.54
Note: you may need to restart the kernel to use updated packages.

In [2]:
#importing yahoo finance
import yfinance as yf

In [3]:
#since Tesla stocks are hot in the market, let's analyse on Tesla
tesla = yf.download("TSLA", start="2015-01-01", end="2020-07-07")

[*********************100%***********************]  1 of 1 completed

In [4]:
#eyeballing the data
tesla.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,222.869995,223.250000,213.259995,219.309998,219.309998,4764400
2015-01-05,214.550003,216.500000,207.160004,210.089996,210.089996,5368500
2015-01-06,210.059998,214.199997,204.210007,211.279999,211.279999,6261900
2015-01-07,213.350006,214.779999,209.779999,210.949997,210.949997,2968400
2015-01-08,212.809998,213.800003,210.009995,210.619995,210.619995,3442500

In [7]:
#saving this new transformed data as a csv file so that it can visualised using Tableau
tesla.to_csv('C:/Users/91917/Desktop/n/tesla_stock.csv')